<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to kerala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static '/images/Kerala_Houseboat.png' %}" type="x-icon">
  </head>
<body class="bg-light">
    <header>
    
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary  ">
     
      <a class="navbar-brand order-lg-1 mr-0" href="#"><img src="{% static '/images/Kerala_Houseboat.png' %}" style="width:300px;height:60px;" alt="kerla houseboat"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-3">
            <a class="nav-item nav-link " href="/index/">Home </a>
            <a class="nav-item nav-link active" href="/explore/">Explore</a>
            <a class="nav-item nav-link " href="/signin/">Sign in</a>
            <a class="nav-item nav-link  " href="/signup/" >Sign up</a>
         
        </div>
      </div>
      </nav>
    <!-- /navbar-->  
  <main class="mycontainer text-center">
<!--- About district-->

<div class="tm-col-left">
  <section class="tm-content">

      <div class="imag">
          <img src="{% static '/images/calicut.jpg' %}" alt="Image" class="tm-service-img">

      </div>
      
              <section class="tm-content">
                  <!-- <hr class="mb-3"> -->
                  <h2 class="mb-5 tm-content-title">Kozhikode</h2>
                  <p class="mb-5">The legendary seaport where Arab, Chinese and East African traders once converged, Kozhikode was previously the most crucial region of the Malabar Coast. Vasco da Gama landed on its shores in 1498, shooting the region to global fame. Once the capital of the influential Zamorins and a prominent trade and commerce centre, the winds of change have swept over this charming coastal land. The whiff of history continues to permeate the lanes, bazaars and business hubs of Kozhikode. Lush green countryside, serene beaches, historic sites, wildlife sanctuaries, rivers and hills make Kozhikode a popular destination.</p>                        
                  
                  <!-- <hr class="mb-5"> -->
              </section>
                              
  </section>
</div>


<hr>
  <h2>Tourist Attractions</h2>
  <hr>
  <div>
    <div class="row">
        <div class="col-md">
          <div class="thumbnail">
            <div>
              <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/View_point_of_Thamarassery_Churam.jpg" class="rounded" alt="thamarasseri churam" style="width:100%">
              <div class="caption">
                <h2 class="tm-content-title">Thamarasserichuram</h2>
                        <p>Thamarassery Churam is a mountain pass in Kerala, India across the Western Ghats. "Churam" is the Malayalam word for mountain pass.</p>
                      <hr>
                      </div>
              </div>
            </div>
          </div>
        </div>
            <div class="col-md">
                  <div class="thumbnail">
                    <div>
                      <img src="{% static '/images/Kadalundi_Bird_Sanctuary.jpg' %}" class="rounded" alt="Kadalundi Bird Sanctuary" style="width:100%">
                      <div class="caption">
                        <h2 class="tm-content-title">Kadalundi_Bird_Sanctuary</h2>
                        <p>The Kadalundi Bird Sanctuary lies in kadalundi Grama Panchayat of Kozhiode district in Kerala, India. It spreads over a cluster of islands where the Kadalundipuzha River flows into the Arabian Sea. The Sanctuary hill is around 200 m above sea level. it is19 km from Kozhikode city centre.</p>
                      </div>
                    </div>
                  </div>
                </div>
          
  </div>


  <div>
    <div class="row">
        <div class="col-md">
          <div class="thumbnail">
            <div>
              <img src="https://www.holidify.com/images/attr_square/2444.jpg" class="rounded" alt="thamarasseri churam" style="width:100%">
              <div class="caption">
                <h2 class="tm-content-title">Backwaters in Kozhikode</h2>
                            <p>Spread across long stretches of the Arabian water, these beguiling backwater lagoons are a sight to withhold. However, they are well known for its cruises on houseboats which offer an enthralling experience.</p>                        
                            <hr>
              </div>
            </div>
          </div>
        </div>
            <div class="col-md">
                  <div class="thumbnail">
                    <div>
                      <img src="https://www.holidify.com/images/cmsuploads/square/6170_20201008170555.jpg" class="rounded" alt="Kadalundi Bird Sanctuary" style="width:100%">
                      <div class="caption">
                        <h2 class="tm-content-title">Kozhippara Waterfalls</h2>
                            <p>Easily accessible by roads, Kozhippara Falls are situated on the borders of Kakkadampoyil on the Malappuram -Calicut District divide in Malappuram district. Providing a stunning sight, these falls are best known for its swimming, bird watching and jungle trekking. Also known as Kakkadampoyil Waterfall, the Kozhippara waterfall is located on Kuthradampuzha river area.</p>                        
                            <hr>
                      </div>
                    </div>
                  </div>
                </div>
          
  </div>
</section>
 
  </main>
 


<!-- Footer -->
<footer >
<section id="lab_social_icon_footer">

  <div class="container">
          <div class="text-center center-block">
                  <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
  </div>
  </section>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-white">© Al 2021 Copyright:
      <a href="/index/">keralatourism</a>
    </div>
    <!-- Copyright -->  
  </footer>
<!-- Footer -->

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
