<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to kerala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static '/images/Kerala_Houseboat.png' %}" type="x-icon">
  </head>
<body class="bg-light">
    <header>
    
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary  ">
     
      <a class="navbar-brand order-lg-1 mr-0" href="#"><img src="{% static '/images/Kerala_Houseboat.png' %}" style="width:300px;height:60px;" alt="kerla houseboat"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-3">
            <a class="nav-item nav-link " href="/index/">Home </a>
            <a class="nav-item nav-link active" href="/explore/">Explore</a>
            <a class="nav-item nav-link " href="/signin/">Sign in</a>
            <a class="nav-item nav-link  " href="/signup/" >Sign up</a>
         
        </div>
      </div>
      </nav>
    <!-- /navbar-->  
  <main class="mycontainer text-center">
<!--- About district-->
<section>
  <div class="tm-row">
    <div class="tm-col-left">
        <section class="tm-content">

            <div class="imag">
                <img src="{% static '/images/Palakkad (1).jpg' %}" alt="Image" class="tm-service-img">

            </div>
            
                    <section class="tm-content">
                        <!-- <hr class="mb-3"> -->
                        <h2 class="mb-5 tm-content-title">Palakkad</h2>
                        <p class="mb-5">Celebrated as the Granary of Kerala, Palakkad is a vast stretch of fertile plains interspersed with hills, rivers, mountain streams and forests. The gateway to Kerala from the north, a 40 kilometre break in the mountains known as the Palakkad Gap gives access to this land situated at the foot of the Western Ghats. The pass acts as a corridor between Kerala and the neighbouring Tamil Nadu and played a key role in the trade relations between the east and west coasts of peninsular India. Deriving its name from the Malayalam words Pala (Alsteriascholaris) and Kadu (forest), this place was once a stunning expanse of forest covered with the sweet-scented flowers of the Pala tree. A potpourri of Tamil and Kerala culture, some of the finest Carnatic musicians hail from this district which continues to be a principally agrarian society.</p>                        
                        
                        <!-- <hr class="mb-5"> -->
                    </section>
                                    
        </section>
    </div>

<hr>
  <h2>Tourist Attractions</h2>
  <div>
    <div class="row">
        <div class="col-md">
          <div class="thumbnail">
            <div>
              <img src="{% static '/images/malampuzhadam.jpg' %}" class="rounded" alt="malampuzhadam" style="width:100%">
              <div class="caption">
                <h2 class="tm-content-title">Malampuzhadam</h2>
                <p>Malampuzha Dam is the largest dam and reservoirs in Kerala,[2] located near Palakkad, in the state of Kerala in South India, built post independence by the then Madras state. Situated in the scenic hills of the Western Ghats in the background it is a combination of a masonry dam with a length of 1,849 metres and an earthen dam with a length of 220 metres making it the longest dam in the state.[3] The dam is 355 feet high and crosses the Malampuzha River, a tributary of Bharathappuzha, Kerala's second longest river. There is a network of two canal systems that serve the dam's reservoir of 42,090 hectares.[4]</p>
                <hr>
              </div>
            </div>
          </div>
        </div>
            <div class="col-md">
                  <div class="thumbnail">
                    <div>
                      <img src="https://vivekappu.github.io/kerala_tourism_website/images/Palakkad_Fort.jfif" class="rounded" alt="Palakkad_Fort" style="width:100%">
                      <div class="caption">
                         <h2 class="tm-content-title">Palakkad Fort</h2>
                            <p>The Palakkad Fort in Kerala is a beautiful historical monument that has gently integrated its high walls with its surrounding green gardens. One of the most well-preserved forts in the state of Kerala, the Palakkad fort was built in the 1766 AD by Hyder Ali and is now a protected monument under the Archaeological Survey of India. This picturesque fort is located in the heart of Palakkad town at the foothills of the Sahyadris range in a labyrinth of dense forests and crisscrossing cascading rivers. The mighty fort is spread over an area of 60,702 square meters and is immensely famous for its architecture, which displays the efficiency of the French craftsman. The magnificent fortress of Pallakad is an essential part of history, and its construction is majestic as well.</p>                        
                            <hr>
                      </div>
                    </div>
                  </div>
                </div>
          
  </div>
  <hr>

  
  <div class="row">
<div class="col-md">
  <div class="thumbnail">
    <div>
      <img src="https://www.holidify.com/images/cmsuploads/square/8082687818_07fedca0b1_b_20170519134401.jpg" class="rounded" alt="Charpa Waterfalls" style="width:100%">
      <div class="caption">
        <h2 class="tm-content-title">Parambikulam Tiger Reserve</h2>
        <p>Blooming with in rare varieties of medicinal plants, orchids and fauna, the Parambikkulam Wildlife Sanctuary is hailed to be one of the best wildlife sanctuaries in South India.</p>                        
        <hr>
      </div>
    </div>
  </div>
</div>


<div class="col-md">
  <div class="thumbnail">
    <div>
      <img src="https://www.holidify.com/images/cmsuploads/square/SilentValley_20190726115715.jpg" class="rounded" alt="Vadakkumnnathan Temple" style="width:100%">
      <div class="caption">
        <h2 class="tm-content-title">Silent Valley National Park</h2>
                            <p>The Silent Valley National Park, with its lush green forests and beautiful views of the rich flora, is a popular destination for nature and wildlife lovers in Kerala. With its long, detailed history and the unique status of a Rain Forest, this national park is truly a sight to visit. The well-planned Safari and the beautiful stop-overs around the park only make a trip to this part of Kerala more worthwhile.</p>                        
                            <hr>
      </div>
    </div>
  </div>
</div>
</div>

</section>
 
  </main>
 


<!-- Footer -->
<footer >
<section id="lab_social_icon_footer">

  <div class="container">
          <div class="text-center center-block">
                  <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
  </div>
  </section>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-white">&copy;Al 2021
      <a href="/index/">keralatourism</a>
    </div>
    <!-- Copyright -->  
  </footer>
<!-- Footer -->

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
