<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to kerala</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" href="{% static '/images/Kerala_Houseboat.png' %}" type="x-icon">
  </head>
<body class="bg-light">
    <header>
    
    <!-- navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary  ">
     
      <a class="navbar-brand order-lg-1 mr-0" href="#"><img src="{% static '/images/Kerala_Houseboat.png' %}" style="width:300px;height:60px;" alt="kerla houseboat"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-3">
            <a class="nav-item nav-link " href="/index/">Home </a>
            <a class="nav-item nav-link active" href="/explore/">Explore</a>
            <a class="nav-item nav-link " href="/signin/">Sign in</a>
            <a class="nav-item nav-link  " href="/signup/" >Sign up</a>
         
        </div>
      </div>
      </nav>
    <!-- /navbar-->  
  <main class="mycontainer text-center">
<!--- About district-->
<section>
  <div class="tm-row">
    <div class="tm-col-left">
        <section class="tm-content">

            <div class="imag">
                <img src="{% static '/images/wayanad.jpg' %}" alt="Image" class="tm-service-img">

            </div>
            
                    <section class="tm-content">
                        <!-- <hr class="mb-3"> -->
                        <h2 class="mb-5 tm-content-title">Wayanad</h2>
                        <p class="mb-5">Wayanad adorns the northern tip of Kerala and is among the few areas in the world that have managed to conserve their natural charm and beauty. Teeming with rare flora and fauna, it is considered among the most picturesque locations in Kerala. It is host to a large variety of endemic species. One is surrounded by mist-covered peaks and lush greenery on all sides. The tribals of the area are renowned for their unique customs and the festivals here are true celebrations of the harmony between man and nature. Many prominent resorts have come up in this area as well and provide our visitors with many adventure sports and trekking options in the very palms of nature.</p>                        
                        
                        <!-- <hr class="mb-5"> -->
                    </section>
<hr>

  <h2>Tourist Attractions</h2>
  <div>
    <div class="row">
        <div class="col-md">
          <div class="thumbnail">
            <div>
              <img src="{% static '/images/Banasurasagar_dam(wayanad).jpg' %}" class="rounded" alt="Banasurasagar dam" style="width:100%">
              <div class="caption">
                <h2 class="tm-content-title">Banasura Sagar Dam</h2>
                            <p>Lying in the lap of the Banasura hills in the Wayanad district is the picturesque Banasura Sagar dam. Banasura Dam is the largest earthen dam in the country and the second-largest in Asia. The view of the sprawling reservoir from the top of the dam is breathtaking. Adventures like speed boating are readily available, and a trek up to the Banasura Peak is filled with streams, diverse flora, fauna, lush tropical green and majestic waterfalls. An earthen dam, also known as an embankment dam is created by placing mounds of clay, sand, rock or soil. The view of Banasura Lake from the top of the hill is mesmerising.</p>                        
                            <hr>
              </div>
            </div>
          </div>
        </div>
            <div class="col-md">
                  <div class="thumbnail">
                    <div>
                      <img src="{% static '/images/eddakalcave.jpg' %}" class="rounded" alt="Edakkal Cavet" style="width:100%">
                      <div class="caption">
                        <h2 class="tm-content-title">Eddakalcave</h2>
                            <p>Lying in the lap of the Banasura hills in the Wayanad district is the picturesque Banasura Sagar dam. Banasura Dam is the largest earthen dam in the country and the second-largest in Asia. The view of the sprawling reservoir from the top of the dam is breathtaking. Adventures like speed boating are readily available, and a trek up to the Banasura Peak is filled with streams, diverse flora, fauna, lush tropical green and majestic waterfalls. An earthen dam, also known as an embankment dam is created by placing mounds of clay, sand, rock or soil. The view of Banasura Lake from the top of the hill is mesmerising.</p>                        
                            <hr>
                      </div>
                    </div>
                  </div>
                </div>
          
  </div>

  
 <hr>
  
 <div class="row">
<div class="col-md">
 <div class="thumbnail">
   <div>
     <img src="https://www.holidify.com/images/cmsuploads/square/966_20200529095124.jpg" class="rounded" alt="Charpa Waterfalls" style="width:100%">
     <div class="caption">
      <h2 class="tm-content-title">Wayanad wildlife sanctuary</h2>
        <p>Wayanad Wildlife Sanctuary is the second largest wildlife sanctuary in Kerala and comprises of rare as well as endangered species of both flora and fauna. It is surrounded by the protected areas of Mudumalai in Tamil Nadu as well as Nagarhole and Bandipur in Karnataka. Founded in the year 1973, the wildlife sanctuary is an integral part of the Nilgiri Biosphere Reserve which was the first biosphere out of the 14 present in India. The sanctuary is spread over an area of 345 square km and comprises of two parts namely Upper Wayanad and Lower Wayanad. Eucalyptus, as well as bamboo trees, are grown in the region.</p>                        
         <hr>
     </div>
   </div>
 </div>
</div>


<div class="col-md">
 <div class="thumbnail">
   <div>
     <img src="https://www.holidify.com/images/cmsuploads/square/Chembra-Peak-Wayanad_20180119201400.png" class="rounded" alt="Vadakkumnnathan Temple" style="width:100%">
     <div class="caption">
      <h2 class="tm-content-title">Chembra Peak</h2>
      <p>With a height 2100 m, the Chembara peak is an attractive destination for Campers and Mountaineers. Many guided expeditions are conducted to the tallest summit of Wayanad.</p>                        
      <hr>
     </div>
   </div>
 </div>
</div>
</div>

</section>
 
  </main>
 


<!-- Footer -->
<footer >
<section id="lab_social_icon_footer">

  <div class="container">
          <div class="text-center center-block">
                  <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
  </div>
  </section>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-white">&copy;Al 2021
      <a href="/index/">keralatourism</a>
    </div>
    <!-- Copyright -->  
  </footer>
<!-- Footer -->

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
